.main {
    display: grid;
    grid-template-rows: 3fr auto;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #c9d7ec, #cedbee, #d3dfef, #d9e3f1, #dee7f2);
}
