.section {
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    display: grid;
    align-items: center;
}
.photo {
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
}
