.title {
    font-size: calc(28px + 2vw);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    gap: calc(5px + 1vh);
}
